/* palette */

:root {
    /* text */
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --light-text-color: #ffffff;
    --dark-text-color: #000000;
    --transparent-accent-color: rgba(33, 150, 243, 0.9);
    --transparent-text-color: rgba(255, 255, 255, 0.6);

    /* background */
    --primary-bg-color: #ffffff;
    --secondary-bg-color: #2F303A;
    --secondary-bg-color-transparent: #2F303ACC;
    --complementary-bg-color: #F5F4FA;

    /* icons */
    --icon-color: #AFB1B8;
    --icon-bg-color: rgba(255, 255, 255, 0.1);

    /* border */
    --header-border: #ECECEC;
    --card-border: #EEEEEE;
    --border-radius-button: 4px;
    --border-radius-card: 0px 0px 4px 4px;

    /* box shadow */
    --box-shadow-button: 0px 4px 4px rgba(0, 0, 0, 0.15);
    --box-shadow-active: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    --box-shadow-card: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    --box-shadow-card-hover: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

    /* others */
    --gap: 30px;
    --btn-hover: #188CE8;
    --transition-duration: 250ms;
    --transition-bezier: cubic-bezier(0.4, 0, 0.2, 1);
    --transparent-medium: rgba(0, 0, 0, 0.5);
    --transparent-form: rgba(255, 255, 255, 0.3);
    ;
}

/* general */

body {
    font-family: Roboto, sans-serif;
    color: var(--primary-text-color);
    font-size: 16px;
    letter-spacing: 0.03em;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.logo {
    font-family: Raleway, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: calc(31 / 26);
    color: var(--accent-color);
    display: block;
}

.logo--dark {
    color: var(--dark-text-color);
}

.logo--light {
    color: var(--light-text-color);
}

.section {
    padding: 94px 0;
}

.title {
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;

    margin-bottom: 50px;
}

.list {
    display: flex;
    gap: var(--gap);
}

.button {
    height: 50px;

    background-color: var(--accent-color);

    box-shadow: var(--box-shadow-button);
    border-radius: var(--border-radius-button);

    color: var(--light-text-color);
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    text-align: center;

    transition: background-color, var(--transition-duration), var(--transition-bezier);
}

.button:hover,
.button:focus {
    background-color: var(--btn-hover);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* header */

.header--border {
    border-bottom: 1px solid var(--header-border);
}

.header__container {
    display: flex;
}

.header__list {
    display: flex;
    align-items: center;
    gap: 50px;
}

.header__list--nav {
    margin-right: auto;
}

.header__logo {
    padding: 24px 0;
    margin-right: 93px;
}

.header__menu {
    display: flex;
    gap: 50px;
}

.header__link {
    position: relative;

    display: block;

    padding: 32px 0;

    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;

    transition: color var(--hover-transition);
}

.header__link:hover,
.header__link:focus {
    color: var(--accent-color);
}

.header__link--current {
    color: var(--accent-color);
}

.header__link--current::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: -1.5%;

    display: inline-block;
    height: 4px;
    width: 100%;

    background-color: var(--accent-color);

    border-radius: 2px;
}

.header__icon {
    fill: currentColor;
}

.header__link--auth {
    display: flex;
    align-items: center;
    gap: 10px;

    color: var(--secondary-text-color);
}


/* hero */

.hero {
    background-color: var(--secondary-bg-color);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-images/background-hero.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;

    max-width: 1600px;
    margin: 0 auto;
    padding: 200px 0;

    text-align: center;
}

.hero__title {
    max-width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;

    font-weight: 900;
    color: var(--light-text-color);
    font-size: 44px;
    line-height: calc(60 / 44);
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero__button {
    padding: 10px 32px;
}

/* features */

.features__item {
    width: calc((100% - 90px) / 4);
}

.features__background {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 120px;

    background-color: var(--complementary-bg-color);
}

.features__group {
    padding: 30px 0 0;
}

.features__title {
    margin-bottom: 10px;

    font-size: 14px;
    line-height: calc(16 / 14);
    text-transform: uppercase;
}

.features__text {
    color: var(--secondary-text-color);
    font-size: 14px;
    line-height: calc(24 / 14);
}

/* occupation */
.occupation {
    padding-top: 0;
}

.occupation__item {
    position: relative;
}

.occupation__title {
    position: absolute;
    left: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 70px;

    background-color: var(--secondary-bg-color-transparent);

    font-size: 14px;
    line-height: calc(16 / 14);
    text-align: center;
    color: var(--light-text-color);
    text-transform: uppercase;
}

/* team */

.team {
    background-color: var(--complementary-bg-color);
}

.team__card {
    background-color: var(--primary-bg-color);
    box-shadow: var(--box-shadow-card);
    border-radius: var(--border-radius-card);
    text-align: center;

}

.team__group {
    padding: 30px 0;
}

.team__name {
    margin-bottom: 10px;

    font-weight: 500;
    color: var(--primary-text-color);
    line-height: calc(19 / 16);


}

.team__profession {
    margin-bottom: 16px;

    color: var(--secondary-text-color);
    line-height: calc(19 / 16);
}

.social-media {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.social-media__link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;

    background-color: var(--primary-bg-color);

    border-radius: 50%;

    color: var(--icon-color);

    transition: background-color var(--transition-duration) var(--transition-bezier);
}

.social-media__icon {
    fill: currentColor;
}

.social-media__link:hover,
.social-media__link:focus {
    background-color: var(--accent-color);
    color: var(--light-text-color);
}

/* customers */
.customers {
    padding: 94px 0 85px;
}

.customers__item {
    display: flex;
    flex-basis: calc((100% - 5 * 30px) / 6);
    height: 92px;
}

.customers__link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    border: 1px solid var(--icon-color);
    border-radius: var(--border-radius-button);

    color: var(--icon-color);

    transition: border var(--transition-duration) var(--transition-bezier), fill var(--transition-duration) var(--transition-bezier), color var(--transition-duration) var(--transition-bezier);
}

.customers__link:hover,
.customers__link:focus {
    border: 1px solid var(--accent-color);
    fill: var(--accent-color);
    color: var(--accent-color);
}

.customers__icon {
    fill: currentColor;
}

/* footer */

.footer {
    background-color: var(--secondary-bg-color);
    padding: 60px 0;
}

.footer__container {
    display: flex;
    align-items: baseline;
}

.footer__group:nth-child(1) {
    margin-right: 70px;
}

.footer__group:nth-child(2) {
    margin-right: auto;
}

.footer__logo {
    margin-bottom: 20px;
}

.address {
    font-style: normal;
}

.address__item:not(:last-child) {
    margin-bottom: 9px;
}

.address__link {
    font-size: 14px;
    line-height: calc(24 / 14);
    color: var(--light-text-color);

    transition: color var(--transition-duration) var(--transition-bezier);
}

.address__link:hover,
.address__link:focus {
    color: var(--accent-color);
}

.transparent {
    color: var(--transparent-text-color);
}

.join {
    font-size: 14px;
    line-height: calc(16 / 14);
    text-transform: uppercase;
    color: var(--light-text-color);
}

.social-media--footer {
    margin-top: 20px;

}

.social-media__link--footer {
    background-color: var(--icon-bg-color);
}

.social-media__icon--footer {
    fill: var(--light-text-color);
}

.form-join__group {
    display: flex;
    gap: 12px;

    margin-top: 20px;


}

.form-join__input {
    height: 50px;
    width: 358px;

    background-color: transparent;
    padding: 15px;

    color: var(--light-text-color);
    font-size: 16px;
    line-height: calc(20 / 16);

    border: 1px solid var(--transparent-form);
    border-radius: var(--border-radius-button);
}

.form-join__button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 200px;
    height: 50px;
}

/* portfolio */

.portfolio__button-list {
    display: flex;
    gap: 8px;
    margin-bottom: 50px;
    justify-content: center;
}

.portfolio__btn {
    padding: 6px 22px;

    display: block;

    background-color: var(--complementary-bg-color);
    border-radius: var(--border-radius-button);

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    letter-spacing: 0.03em;
    text-align: center;

    transition-property: background-color, color, box-shadow;
    transition-duration: var(--transition-duration), var(--transition-duration), var(--transition-duration);
    transition-timing-function: var(--transition-bezier), var(--transition-bezier), var(--transition-bezier);
}

.portfolio__btn--current {
    background-color: var(--accent-color);
    box-shadow: var(--box-shadow-active);
    color: var(--light-text-color);
}

.portfolio__btn:hover,
.portfolio__btn:focus {
    background-color: var(--accent-color);
    box-shadow: var(--box-shadow-active);
    color: var(--light-text-color);
}

.portfolio__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -30px -30px 0;
}

.portfolio__item {
    background-color: var(--primary-bg-color);
    width: calc((100% / 3) - 30px);
    margin: 0 30px 30px 0;
}

.portfolio__link {
    display: block;
    transition: box-shadow var(--box-shadow-card-hover);
}

.portfolio__link:hover,
.portfolio__link:focus {
    box-shadow: var(--box-shadow-card-hover);
}

.portfolio__link:hover .overlay,
.portfolio__link:focus .overlay {
    transform: translate(0, 0);
}

.portfolio__thumb {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 24px;

    background-color: var(--transparent-accent-color);

    transform: translate(0, 101%);

    transition: transform var(--transition-duration) var(--transition-bezier);

}

.overlay__desc {
    color: var(--light-text-color);
    font-size: 18px;
    line-height: calc(28 / 18);
}

.portfolio__group {
    padding: 20px 24px;
    border-right: 1px solid var(--card-border);
    border-left: 1px solid var(--card-border);
    border-bottom: 1px solid var(--card-border);
}

.portfolio__title {
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.portfolio__desc {
    line-height: calc(30 / 16);
    color: var(--secondary-text-color);
}

/* modal window */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    width: 100%;
    height: 100%;

    background-color: var(--transparent-medium);

    opacity: 1;
    visibility: visible;

    transition: opacity 250ms linear, visibility 250ms linear;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    background-color: var(--primary-bg-color);
    width: 528px;
    height: 581px;
    padding: 40px;

    box-shadow: 0px 1px 3px var(--box-shadow-card);
    border-radius: var(--border-radius-button);

    transform: translate(-50%, -50%) scale(1);
    transition: transform 200ms var(--transition-bezier) 250ms;
}

.modal__close {
    position: absolute;
    display: block;
    top: 8px;
    right: 8px;
    display: block;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.modal__close--icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: fill var(--transition-duration) var(--transition-bezier);
}

.modal__close:hover,
.modal__close:focus>.modal__close--icon {
    fill: var(--accent-color);
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.form-modal__label {
    position: relative;
    display: block;
}

.form-modal__label:not(:last-child) {
    margin-bottom: 10px;
}

.modal__title {
    display: block;
    margin-bottom: 12px;

    font-size: 20px;
    line-height: calc(23 / 20);
    text-align: center;
    letter-spacing: 0.03em;
}

.form-modal__group {
    margin-bottom: 20px;
}

.form-modal__text {
    display: block;
    margin-bottom: 4px;

    color: var(--secondary-text-color);
    font-size: 12px;
    line-height: calc(14 / 12);

    letter-spacing: 0.01em;
}

.form-modal__input {
    display: block;
    width: 100%;
    height: 40px;

    padding-left: 42px;

    border: 1px solid;
    border-color: var(--accent-color);
    border-radius: var(--border-radius-button);

    outline: transparent;

    transition: border-color var(--transition-duration) var(--transition-bezier);
}

.form-modal__icon {
    position: absolute;
    left: 12px;
    bottom: 11px;
    fill: var(--accent-color);
    transition: fill var(--hover-transition);
}

.form-modal__input:placeholder-shown {
    border-color: rgba(33, 33, 33, 0.2);
    fill: var(--primary-text-color);
}

.form-modal__input:placeholder-shown+.form-modal__icon {
    fill: var(--primary-text-color);
}

.form-modal__commentary {
    display: block;
    width: 100%;
    height: 120px;
    padding: 12px 16px;

    resize: none;

    border: 1px solid var(--accent-color);
    border-radius: var(--border-radius-button);

    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;

    outline: transparent;

    transition: border-color var(--transition-duration) var(--transition-bezier);
}

.form-modal__commentary::placeholder {
    color: var(--secondary-text-color);
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
}

.form-modal__commentary:placeholder-shown {
    border: 1px solid rgba(33, 33, 33, 0.2);
}

.form-modal__input:focus,
.form-modal__commentary:focus {
    border-color: var(--accent-color);
}



.form-modal__input:focus+.form-modal__icon {
    fill: var(--accent-color);

}

.form-modal__agreement {
    color: var(--secondary-text-color);
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    text-align: center;
}

.form-modal__checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    margin-bottom: 30px;
}

.form-modal__link {
    text-decoration: underline;
    color: var(--accent-color);
}

.form-modal__button {
    display: flex;
    align-items: center;

    min-width: 200px;
    margin: 0 auto;

    padding: 10px 52px;
}

.checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.form-modal__checkbox-icon--check {
    opacity: 0;
    transition: opacity 250ms linear;
}

.checkbox:checked+.form-modal__checkbox-icon .form-modal__checkbox-icon--check {
    opacity: 1;

}

.checkbox:checked+.form-modal__checkbox-icon .form-modal__checkbox-icon--uncheck {
    opacity: 0;
}

.checkbox:focus+.form-modal__checkbox-icon {
    fill: #188CE8;
}