.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    width: 100%;
    height: 100%;

    background-color: var(--transparent-medium);

    opacity: 1;
    visibility: visible;

    transition: opacity 250ms linear, visibility 250ms linear;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    background-color: var(--primary-bg-color);
    width: 528px;
    height: 581px;
    padding: 40px;

    box-shadow: 0px 1px 3px var(--box-shadow-card);
    border-radius: var(--border-radius-button);

    transform: translate(-50%, -50%) scale(1);
    transition: transform 200ms var(--transition-bezier) 250ms;
}

.modal__close {
    position: absolute;
    display: block;
    top: 8px;
    right: 8px;
    display: block;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    &--icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        transition: fill var(--transition-duration) var(--transition-bezier);
    }

    &:hover,
    &:focus>&--icon {
        fill: var(--accent-color);
    }
}



.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.form-modal__label {
    position: relative;
    display: block;

    &:not(:last-child) {
        margin-bottom: 10px;
    }
}

.modal__title {
    display: block;
    margin-bottom: 12px;

    font-size: 20px;
    line-height: calc(23 / 20);
    text-align: center;
    letter-spacing: 0.03em;
}

.form-modal__group {
    margin-bottom: 20px;
}

.form-modal__text {
    display: block;
    margin-bottom: 4px;

    color: var(--secondary-text-color);
    font-size: 12px;
    line-height: calc(14 / 12);

    letter-spacing: 0.01em;
}

.form-modal__input {
    display: block;
    width: 100%;
    height: 40px;

    padding-left: 42px;

    border: 1px solid;
    border-color: var(--accent-color);
    border-radius: var(--border-radius-button);

    outline: transparent;

    transition: border-color var(--transition-duration) var(--transition-bezier);

    &:placeholder-shown {
        border-color: rgba(33, 33, 33, 0.2);
        fill: var(--primary-text-color);
    }

    &:placeholder-shown+.form-modal__icon {
        fill: var(--primary-text-color);
    }

    &:focus {
        border-color: var(--accent-color);
    }
}

.form-modal__input:focus+.form-modal__icon {
    fill: var(--accent-color);

}

.form-modal__icon {
    position: absolute;
    left: 12px;
    bottom: 11px;
    fill: var(--accent-color);
    transition: fill var(--transition-duration) var(--transition-bezier);
}

.form-modal__commentary {
    display: block;
    width: 100%;
    height: 120px;
    padding: 12px 16px;

    resize: none;

    border: 1px solid var(--accent-color);
    border-radius: var(--border-radius-button);

    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;

    outline: transparent;

    transition: border-color var(--transition-duration) var(--transition-bezier);

    &::placeholder {
        color: var(--secondary-text-color);
        font-size: 12px;
        line-height: calc(14 / 12);
        letter-spacing: 0.01em;
    }

    &:placeholder-shown {
        border: 1px solid rgba(33, 33, 33, 0.2);
    }

    &:focus {
        border-color: var(--accent-color);
    }
}

.form-modal__agreement {
    color: var(--secondary-text-color);
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    text-align: center;
}

.form-modal__checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    margin-bottom: 30px;
}

.form-modal__link {
    text-decoration: underline;
    color: var(--accent-color);
}

.form-modal__button {
    display: flex;
    align-items: center;

    min-width: 200px;
    margin: 0 auto;

    padding: 10px 52px;
}

.checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.form-modal__checkbox-icon {
    transition: fill var(--transition-duration) var(--transition-bezier);
}

.form-modal__checkbox-icon--check {
    opacity: 0;
    transition: opacity 250ms linear;
}

.checkbox:checked+.form-modal__checkbox-icon .form-modal__checkbox-icon--check {
    opacity: 1;

}

.checkbox:checked+.form-modal__checkbox-icon .form-modal__checkbox-icon--uncheck {
    opacity: 0;
}

.checkbox:focus+.form-modal__checkbox-icon {
    fill: #188CE8;
}