.occupation {
    padding-top: 0;
}

.occupation__item {
    position: relative;
}

.occupation__title {
    position: absolute;
    left: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 70px;

    background-color: var(--secondary-bg-color-transparent);

    font-size: 14px;
    line-height: calc(16 / 14);
    text-align: center;
    color: var(--light-text-color);
    text-transform: uppercase;
}