.team {
    background-color: var(--complementary-bg-color);
}

.team__card {
    background-color: var(--primary-bg-color);
    box-shadow: var(--box-shadow-card);
    border-radius: var(--border-radius-card);
    text-align: center;

}

.team__group {
    padding: 30px 0;
}

.team__name {
    margin-bottom: 10px;

    font-weight: 500;
    color: var(--primary-text-color);
    line-height: calc(19 / 16);


}

.team__profession {
    margin-bottom: 16px;

    color: var(--secondary-text-color);
    line-height: calc(19 / 16);
}